name: Build

# Run this workflow every time a new commit pushed to your repository

on: push

env:
  DOTNET_NOLOGO: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  macos:
    name: Build MacOS dylib (x86-64 and arm64)
    runs-on: macos-11
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
      - name: Build
        run: |
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
          ./native/build-macos.sh
      - name: Archive MacOS library
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: |
            libarchive.dylib
  linux:
    needs: [macos]
    name: Build Linux x86-64 code and wrapper
    runs-on: ubuntu-22.04
    steps:
      - name: Ubuntu packages
        run: sudo apt-get install -y libeatmydata1
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.7
        with:
          versionSpec: '5.x'
      - name: Determine versioning
        uses: gittools/actions/gitversion/execute@v0.9.7
      - name: Retrieve MacOS library
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: libarchive.dylib
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
      - name: Build native library
        run: |
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
          ./native/build-linux.sh
      - name: Built .Net package and test
        run: |
          mkdir -p LibArchive.Net/runtimes/osx-any64 LibArchive.Net/runtimes/linux-x64
          mv libarchive.so LibArchive.Net/runtimes/linux-x64/
          mv libarchive.dylib LibArchive.Net/runtimes/osx-any64/
          dotnet test
          echo dotnet pack -o -p:PackageVersion=$GitVersion_NuGetVersion
          dotnet pack -o -p:PackageVersion=$GitVersion_NuGetVersion
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: |
            *.nupkg
